In [3]:
#import
import requests
from bs4 import BeautifulSoup
import pandas as pd
import os
import numpy as np

stock market sectors: 
    1. Materials: 
        Rio Tinto (ticker: RIO), 
        Vale S.A. (VALE) 
        Ecolab (ECL)
    2. Industrials:  
        Boeing Co. (BA), 
        Lockheed Martin Corp. (LMT), 
        General Electric Co. (GE), 
        Caterpillar (CAT)
    3. Financials: 
        Bank of America Corp. (BAC), 
        Visa (V), 
        PayPal Holdings (PYPL), 
        Berkshire Hathaway (BRK.A, BRK.B
    4. Energy: 
        Exxon Mobil Corp. (XOM), 
        Schlumberger (SLB), 
        Kinder Morgan (KMI), 
        Halliburton Co. (HAL)
    5. Consumer discretionary: 
        Carnival Corp. (CCL), 
        Grubhub (GRUB), 
        Lululemon Athletica (LULU), 
        Party City (PRTY).
    6. Information technology: 
        Apple (AAPL), 
        Cisco Systems (CSCO), 
        Intel Corp. (INTC), 
        Oracle (ORCL)
    7. Communication services: 
        Verizon Communications (VZ), 
        Facebook (FB), 
        Walt Disney Co. (DIS),
        Comcast Corp. (CMCSA)
    8. Real estate: 
        Redfin Corp. (RDFN), 
        American Tower Corp. (AMT), 
        Simon Property Group (SPG), 
        Public Storage (PSA)
    9. Health care: 
        Johnson & Johnson (JNJ), 
        Pfizer (PFE), 
        McKesson Corp. (MCK), 
        Abbott Laboratories (ABT)
    10. Consumer staples:
        Coca-Cola Co. (KO), 
        Colgate-Palmolive (CL), 
        Procter & Gamble Co. (PG), 
        Walmart (WMT)
    11. Utilities: 
        NextEra Energy (NEE), 
        Duke Energy (DUK), 
        Exelon Corp. (EXC), 
        Dominion Energy (D)

1. Materials: 
    Eastman Chemical Company (EMN), 
    Vale S.A. (VALE) 
    Ecolab (ECL)

In [75]:
#EMN #only yearly available
data = {'date': ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
                 '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
                 '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016',
                 '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015',
                 '6/30/2015', '3/31/2015'],
       'revenue': [1924000, 2241000, 2205000, 2325000, 2363000, 
                   2380000, 2376000, 2547000, 2621000, 2607000, 
                   2362000, 2465000, 2419000, 2303000, 2188000, 
                   2287000, 2297000, 2236000, 2225000, 2447000, 
                   2533000, 2443000], 
      'ticker': 'EMN', 'sector': 'Materials'}
df_emn = pd.DataFrame(data)

#VALE
data = {'date': ['3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', '3/31/2019', 
                 '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', '12/31/2017',
                 '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016', '9/30/2016', 
                 '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015', '6/30/2015', 
                 '3/31/2015'],
        'revenue': [-9010000, 96679000, 75898000, 73646000, 81000000, 
                    28206000, 78156000, 68562000, 50458000, 58907000, 
                    60525000, 57518000, 65187000, 57673000, 59068000, 
                    54460000, 52403000, 51820000, 58989000, 51368000, 
                    48644000], 
       'ticker': 'VALE', 'sector': 'Materials'}

df_vale = pd.DataFrame(data)

#ECL
data = {'date': ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
                 '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
                 '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016',
                 '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015',
                 '6/30/2015', '3/31/2015'],
       'revenue': [2685700, 3581400, 3823600, 3817900, 3759400, 
                   3505400, 3760500, 3747200, 3689600, 3470900, 
                   3650700, 3563300, 3462700, 3161600, 3352100, 
                   3386100, 3317200, 3097400, 3412000, 3446400, 
                   3389100, 3297600], 
       'ticker': 'ECL', 'sector': 'Materials'}

df_ecl = pd.DataFrame(data)

df_materials = pd.concat([df_emn, df_vale, df_ecl])

In [74]:
df_materials

          date  revenue ticker     sector
0    6/30/2020  1924000    EMN  Materials
1    3/31/2020  2241000    EMN  Materials
2   12/31/2019  2205000    EMN  Materials
3    9/30/2019  2325000    EMN  Materials
4    6/30/2019  2363000    EMN  Materials
..         ...      ...    ...        ...
17   3/31/2016  3097400    ECL  Materials
18  12/31/2015  3412000    ECL  Materials
19   9/30/2015  3446400    ECL  Materials
20   6/30/2015  3389100    ECL  Materials
21   3/31/2015  3297600    ECL  Materials

[65 rows x 4 columns]

2. Industrials:  
    Boeing Co. (BA), 
    Lockheed Martin Corp. (LMT), 
    General Electric Co. (GE), 
    Caterpillar (CAT)

In [76]:
#BA
dates_ba = ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
             '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
             '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016',
             '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015',
             '6/30/2015', '3/31/2015']
revenue_ba = [11807000, 16908000, 17911000, 19980000, 15751000, 
            22917000, 28341000, 25146000, 24258000, 23382000, 
            25368000, 24309000, 22739000, 20976000, 23286000, 
            23898000, 24755000, 22632000, 23573000, 25849000, 
            24543000, 22149000]
data = {'date': dates_ba, 'revenue': revenue_ba, 
        'ticker': 'BA', 'sector': 'Industrials'}
df_ba = pd.DataFrame(data)

#LMT
dates_lmt = ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
             '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
             '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016',
             '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015',
             '6/30/2015', '3/31/2015']

revenue_lmt = [16220000, 15651000, 15878000, 15171000, 14427000, 
              14336000, 14411000, 14318000, 13398000, 11635000, 
              15137000, 12169000, 12685000, 11057000, None, 
              None, 12914000, 11702000, 12917000, 11461000, 
              11643000, 10111000]

data = {'date': dates_lmt, 'revenue': revenue_lmt, 
       'ticker': 'LMT', 'sector': 'Industrials'}
df_lmt = pd.DataFrame(data)

#GE
dates_ge = ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
             '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
             '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016',
             '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015',
             '6/30/2015', '3/31/2015']

revenue_ge = [17750000, 20523000, 26238000, 23360000, 28830000, 
              27286000, 33279000, 29574000, 30104000, 28660000, 
              32389000, 31327000, 29261000, 27492000, 32468000, 
              29038000, 30344000, 27836000, 23519000, 31511000, 
              31974000, 29214000]

data = {'date': dates_ge, 'revenue': revenue_ge, 
       'ticker': 'GE', 'sector': 'Industrials'}
df_ge = pd.DataFrame(data)

#CAT
dates_cat = ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
             '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
             '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016',
             '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015',
             '6/30/2015', '3/31/2015']

revenue_cat = [9997000, 10635000, 13144000, 12758000, 14432000, 
               13466000, 14342000, 13510000, 14011000, 12859000, 
               12896000, 11413000, 11331000, 9822000, 9574000, 
               9160000, 10342000, 9461000, 11030000, 10962000, 
               12317000, 12702000]

data = {'date': dates_cat, 'revenue': revenue_cat, 
       'ticker': 'CAT', 'sector': 'Industrials'}
df_cat = pd.DataFrame(data)

df_industrials = pd.concat([df_ba, df_lmt, df_ge, df_cat])

3. Financials: 
    Bank of America Corp. (BAC), 
    Visa (V), 
    PayPal Holdings (PYPL),

In [78]:
#BAC
dates = ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
             '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
             '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016',
             '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015',
             '6/30/2015', '3/31/2015']
revenue = [22326000, 22767000, 22349000, 22807000, 23084000, 
           23004000, 22736000, 22777000, 22609000, 23125000, 
           20436000, 21839000, 22829000, 22248000, 19990000, 
           21635000, 20398000, 19512000, 19490000, 20713000, 
           22029000, 21175000]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'BAC', 'sector': 'Financials'}
df_bac = pd.DataFrame(data)

#V
dates = ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
         '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
         '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016',
         '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015',
         '6/30/2015', '3/31/2015']
revenue = [4837000, 5854000, 6054000, 6137000, 5840000, 
           5494000, 5506000, 5434000, 5240000, 5073000, 
           4862000, 4855000, 4565000, 4477000, 4461000, 
           4261000, 3630000, 3626000, 3565000, 3571000, 
           3518000, 3409000]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'V', 'sector': 'Financials'}
df_v = pd.DataFrame(data)

#PYPL
dates = ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
         '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
         '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016',
         '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015',
         '6/30/2015', '3/31/2015']
revenue = [5261000, 4618000, 4961000, 4378000, 4305000, 
           4128000, 4226000, 3683000, 3857000, 3685000, 
           3744000, 3239000, 3136000, 2975000, 2981000, 
           2667000, 2650000, 2544000, 2556000, 2258000, 
           2297000, 2137000]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'PYPL', 'sector': 'Financials'}
df_pypl = pd.DataFrame(data)

df_financials = pd.concat([df_bac, df_aapl, df_pypl])

4. Energy: 
    Exxon Mobil Corp. (XOM), 
    Schlumberger (SLB), 
    Kinder Morgan (KMI), 
    Halliburton Co. (HAL)

In [79]:
#XOM
dates = ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
         '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
         '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016', 
         '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015', 
         '6/30/2015', '3/31/2015']
revenue = [32277000, 55134000, 63024000, 63422000, 67491000, 
           61646000, 68253000, 74187000, 71456000, 65436000, 
           50832000, 64415000, 60825000, 61090000, 58376000, 
           56767000, 56360000, 47105000, 57691000, 65679000, 
           71360000, 64758000]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'XOM', 'sector': 'Energy'}
df_xom = pd.DataFrame(data)


#SLB
dates = ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
         '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
         '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016', 
         '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015', 
         '6/30/2015', '3/31/2015']
revenue = [5356000, 7455000, 8228000, 8541000, 8269000, 
           7879000, 8179000, 8504000, 8303000, 7829000, 
           8179000, 7905000, 7462000, 6894000, 7107000, 
           7019000, 7164000, 6520000, 7744000, 8472000, 
           9010000, 10248000]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'SLB', 'sector': 'Energy'}
df_slb = pd.DataFrame(data)

#KMI
dates = ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
         '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
         '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016', 
         '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015', 
         '6/30/2015', '3/31/2015']
revenue = [379053, 483084, 505080, 518088, 603949, 
           597204, 587394, 586687, 646119, 607936, 
           571345, 542454, 565025, 528630, 487573, 
           477140, 521224, 497837, 524021, 555354, 
           637652, 638970]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'KMI', 'sector': 'Energy'}
df_kmi = pd.DataFrame(data)

#HAL
dates = ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
         '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
         '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016', 
         '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015', 
         '6/30/2015', '3/31/2015']
revenue = [3196000, 5037000, 5191000, 5550000, 5930000, 
           5737000, 5936000, 6172000, 6147000, 5740000, 
           5940000, 5444000, 4957000, 4279000, 4021000, 
           3833000, 3835000, 4198000, 5082000, 5582000, 
           5919000, 7050000]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'HAL', 'sector': 'Energy'}
df_hal = pd.DataFrame(data)

df_energy = pd.concat([df_xom, df_slb, df_kmi, df_hal])

5. Consumer discretionary: 
    Carnival Corp. (CCL), 
    Grubhub (GRUB), 
    Lululemon Athletica (LULU), 
    Party City (PRTY).

In [80]:
#CCL
dates = ['5/31/2020', '2/29/2020', '11/30/2019', '8/31/2019', '5/31/2019', 
         '2/28/2019', '11/30/2018', '8/31/2018', '5/31/2018', '2/28/2018', 
         '11/30/2017', '8/31/2017', '5/31/2017', '2/28/2017', '11/30/2016', 
         '8/31/2016', '5/31/2016', '2/29/2016', '11/30/2015', '8/31/2015', 
         '5/31/2015', '2/28/2015']
revenue = [740000, 4790000, 4781000, 6532000, 4838000, 
           4674000, 4456000, 5836000, 4357000, 4232000, 
           4259000, 5515000, 3945000, 3791000, 3935000, 
           5097000, 3705000, 3651000, 3711000, 4883000, 
           3590000, 3531000]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'CCL', 'sector': 'Consumer discretionary'}
df_ccl = pd.DataFrame(data)

#GRUB
dates = ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
         '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
         '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016', 
         '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015', 
         '6/30/2015', '3/31/2015']
revenue = [459282, 362980, 341270, 322053, 325058, 
           323770, 287721, 247225, 239741, 232570, 
           205080, 163059, 158794, 156134, 137457, 
           123461, 120173, 112240, 99959, 85662, 
           87955, 88249]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'GRUB', 'sector': 'Consumer discretionary'}
df_grub = pd.DataFrame(data)

#LULU
dates = ['4/30/2020', '1/31/2020', '10/31/2019', '7/31/2019', '4/30/2019', 
         '1/31/2019', '10/31/2018', '7/31/2018', '4/30/2018', '1/31/2018', 
         '10/31/2017', '7/31/2017', '4/30/2017', '1/31/2017', '10/31/2016', 
         '7/31/2016', '4/30/2016', '1/31/2016', '10/31/2015', '7/31/2015', 
         '4/30/2015', '1/31/2015']
revenue = [651962, 1397491, 916138, 883352, 782315, 
           1167458, 747655, 723500, 649706, 928802, 
           619018, 581054, 520307, 789940, 544416, 
           514520, 495516, 704276, 479693, 453010, 
           423544, 602491]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'LULU', 'sector': 'Consumer discretionary'}
df_lulu = pd.DataFrame(data)

#PRTY
dates = ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
         '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
         '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016', 
         '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015', 
         '6/30/2015', '3/31/2015']
revenue = [254691, 414043, 731551, 540231, 563891, 
           513116, 805634, 553046, 561011, 507824, 
           789583, 560109, 544878, 476999, 749288, 
           556950, 519413, 457740, 781501, 555407, 
           495520, 462105]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'PRTY', 'sector': 'Consumer discretionary'}
df_prty = pd.DataFrame(data)

df_consumer_d = pd.concat([df_ccl, df_grub, df_lulu, df_prty])

6. Information technology: 
    Apple (AAPL), 
    Cisco Systems (CSCO), 
    Intel Corp. (INTC), 
    Oracle (ORCL)

In [81]:
#AAPL
dates = ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
         '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
         '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016', 
         '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015', 
         '6/30/2015', '3/31/2015']
revenue = [59685000, 58313000, 91819000, 64040000, None, 
           None, 84310000, 62900000, 53265000, 61137000, 
           None, None, None, None, 78351000, 
           46852000, 42358000, 50557000, 75872000, 51501000, 
           49605000, 58010000]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'AAPL', 'sector': 'Information technology'}
df_aapl = pd.DataFrame(data)

#CSCO
dates = ['4/30/2020', '1/31/2020', '10/31/2019', '7/31/2019', '4/30/2019', 
         '1/31/2019', '10/31/2018', '7/31/2018', '4/30/2018', '1/31/2018', 
         '10/31/2017', '7/31/2017', '4/30/2017', '1/31/2017', '10/31/2016', 
         '7/31/2016', '4/30/2016', '1/31/2016', '10/31/2015', '7/31/2015', 
         '4/30/2015', '1/31/2015']
revenue = [11983000, 12005000, 13159000, 13428000, 12958000, 
           12446000, 13072000, 12844000, 12463000, 11887000, 
           12136000, 12133000, 11940000, 11580000, 12352000, 
           12638000, 12000000, 11927000, 12682000, 12843000, 
           12137000, 11936000]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'CSCO', 'sector': 'Information technology'}
df_csco = pd.DataFrame(data)

#INTC
dates = ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
         '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
         '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016', 
         '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015', 
         '6/30/2015', '3/31/2015']
revenue = [19728000, 19828000, 20209000, 19190000, 16505000, 
           16061000, 18657000, 19163000, 16962000, 16066000, 
           17053000, 16149000, 14763000, 14796000, 16374000, 
           15778000, 13533000, 13702000, 14914000, 14465000, 
           13195000, 12781000]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'INTC', 'sector': 'Information technology'}
df_intc = pd.DataFrame(data)

#ORCL
dates = ['5/31/2020', '2/29/2020', '11/30/2019', '8/31/2019', '5/31/2019', 
         '2/28/2019', '11/30/2018', '8/31/2018', '5/31/2018', '2/28/2018', 
         '11/30/2017', '8/31/2017', '5/31/2017', '2/28/2017', '11/30/2016', 
         '8/31/2016', '5/31/2016', '2/29/2016', '11/30/2015', '8/31/2015', 
         '5/31/2015', '2/28/2015']
revenue = [10439000, 9796000, 9614000, 9218000, 11137000, 
           9614000, 9562000, 9193000, 11252000, 9771000, 
           9621000, 9187000, 10893000, 9205000, 9035000, 
           8595000, 10594000, 9012000, 8993000, 8448000, 
           10706000, 9327000]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'ORCL', 'sector': 'Information technology'}
df_orcl = pd.DataFrame(data)

df_it = pd.concat([df_aapl, df_csco, df_intc, df_orcl])

7. Communication services: 
    Verizon Communications (VZ), 
    Walt Disney Co. (DIS),
    Comcast Corp. (CMCSA)

In [82]:
#VZ
dates = ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
         '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
         '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016', 
         '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015', 
         '6/30/2015', '3/31/2015']
revenue = [30447000, 31610000, 34775000, 32894000, 32071000, 
           32128000, 34281000, 32607000, 32203000, 31772000, 
           33955000, 31717000, 30548000, 29814000, 32340000, 
           30937000, 30532000, 32171000, 34254000, 33158000, 
           32224000, 31984000]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'VZ', 'sector': 'Communication services'}
df_vz = pd.DataFrame(data)

#DIS
dates = ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
         '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
         '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016', 
         '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015', 
         '6/30/2015', '3/31/2015']
revenue = [11779000, 18009000, 20858000, 19100000, 20245000, 
           14922000, 15303000, 14307000, 15228000, 14548000, 
           15351000, 12779000, 14238000, 13336000, 14784000, 
           13142000, 14277000, 12969000, 15244000, 13512000, 
           13101000, 12461000]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'DIS', 'sector': 'Communication services'}
df_dis = pd.DataFrame(data)

#CMCSA
dates = ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
         '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
         '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016', 
         '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015', 
         '6/30/2015', '3/31/2015']
revenue = [23715000, 26609000, 28398000, 26827000, 26858000, 
           26859000, 27846000, 22135000, 21735000, 22791000, 
           21915000, 20983000, 21165000, 20463000, 21025000, 
           21319000, 19269000, 18790000, 19245000, 18669000, 
           18743000, 17853000]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'CMCSA', 'sector': 'Communication services'}
df_cmcsa = pd.DataFrame(data)

df_comm = pd.concat([df_vz, df_dis, df_cmcsa])

8. Real estate: 
    Redfin Corp. (RDFN), 
    American Tower Corp. (AMT), 
    Simon Property Group (SPG), 
    Public Storage (PSA)

In [84]:
#RDFN
dates = ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
         '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
         '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016', 
         '9/30/2016', '6/30/2016', '3/31/2016']
revenue = [213665, 190995, 233191, 238683, 197780, 
           110141, 124129, 140255, 142642, 79893, 
           95754, 109479, 104935, 59868, 66782, 
           81064, 77714, 41636]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'RDFN', 'sector': 'Real estate'}
df_rdfn = pd.DataFrame(data)

#AMT
dates = ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
         '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
         '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016', 
         '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015', 
         '6/30/2015', '3/31/2015']
revenue = [1913000, 1993100, 1923700, 1953600, 1889600, 
           1813400, 2131900, 1785500, 1780900, 1741800, 
           1704462, 1680766, 1662434, 1616238, 1539549, 
           1514845, 1442227, 1289047, 1280041, 1237910, 
           1174375, 1079190]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'AMT', 'sector': 'Real estate'}
df_amt = pd.DataFrame(data)

#SPG
dates = ['3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
         '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
         '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016', 
         '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015', 
         '6/30/2015', '3/31/2015']
revenue = [1353360, 1488615, 1416554, 1397186, 1452834, 
           1460742, 1409005, 1388358, 1399814, 1427692, 
           1403638, 1361548, 1345763, 1425966, 1357168, 
           1315380, 1336715, 1380621, 1320137, 1349110, 
           1216235]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'SPG', 'sector': 'Real estate'}
df_spg = pd.DataFrame(data)

#PSA
dates = ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
         '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
         '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016', 
         '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015', 
         '6/30/2015', '3/31/2015']
revenue = [709285, 716082, 717499, 729336, 710950, 
           689038, 692460, 706368, 685528, 669924, 
           672308, 686361, 664312, 645547, 651427, 
           663148, 634188, 611786, 609330, 618872, 
           592631, 569394]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'PSA', 'sector': 'Real estate'}
df_psa = pd.DataFrame(data)

df_real = pd.concat([df_rdfn, df_amt, df_spg, df_psa])

9. Health care: 
    Johnson & Johnson (JNJ), 
    Pfizer (PFE), 
    McKesson Corp. (MCK), 
    Abbott Laboratories (ABT)

In [85]:
#JNJ
dates = ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
         '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
         '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016', 
         '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015', 
         '6/30/2015', '3/31/2015']
revenue = [18336000, 20691000, 20747000, 20729000, 20562000, 
           20021000, 20394000, 20348000, 20830000, 20009000, 
           20195000, 19650000, 18839000, 17766000, 18106000, 
           17820000, 18482000, 17482000, 17811000, 17102000, 
           17787000, 17374000]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'JNJ', 'sector': 'Health care'}
df_jnj = pd.DataFrame(data)

#PFE
dates = ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
         '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
         '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016', 
         '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015', 
         '6/30/2015', '3/31/2015']
revenue = [11801000, 12028000, 12688000, 12680000, 13264000, 
           13118000, 13977000, 13298000, 13466000, 12906000, 
           13703000, 13168000, 12896000, 12779000, 13628000, 
           13045000, 13147000, 13005000, 14047000, 12087000, 
           11853000, 10864000]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'PFE', 'sector': 'Health care'}
df_pfe = pd.DataFrame(data)

#MCK
dates = ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
         '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
         '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016', 
         '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015', 
         '6/30/2015', '3/31/2015']
revenue = [55679000, 58535000, 59172000, 57616000, 55728000, 
           52429000, 56208000, 53075000, 52607000, 51628000, 
           53617000, 52061000, 51051000, 48713000, 50130000, 
           49957000, 49733000, 46678000, 47899000, 48761000, 
           47546000, 43224000]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'MCK', 'sector': 'Health care'}
df_mck = pd.DataFrame(data)

#ABT
dates = ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
         '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
         '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016', 
         '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015', 
         '6/30/2015', '3/31/2015']
revenue = [7328000, 7726000, 8314000, 8076000, 7979000, 
           7535000, 7765000, 7656000, 7767000, 7390000, 
           7589000, 6829000, 6637000, 6335000, 5333000, 
           5302000, 5333000, 4885000, 5188000, 5150000, 
           5170000, 4897000]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'ABT', 'sector': 'Health care'}
df_abt = pd.DataFrame(data)

df_health = pd.concat([df_jnj, df_pfe, df_mck, df_abt])

10. Consumer staples:
    Coca-Cola Co. (KO), 
    Colgate-Palmolive (CL), 
    Procter & Gamble Co. (PG), 
    Walmart (WMT)

In [86]:
#KO
dates = ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
         '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
         '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016', 
         '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015', 
         '6/30/2015', '3/31/2015']
revenue = [7150000, 8601000, 9068000, 9507000, 9997000, 
           8020000, 7058000, 8245000, 8927000, 7626000, 
           7512000, 9078000, 9702000, 9118000, 9409000, 
           10633000, 11539000, 10282000, 10000000, 11427000, 
           12156000, 10711000]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'KO', 'sector': 'Consumer staples'}
df_ko = pd.DataFrame(data)

#CL
dates = ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
         '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
         '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016', 
         '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015', 
         '6/30/2015', '3/31/2015']
revenue = [3897000, 4097000, 4015000, 3928000, 3866000, 
           3884000, 3811000, 3845000, 3886000, 4002000, 
           3892000, 3974000, 3826000, 3762000, 3721000, 
           3867000, 3845000, 3762000, 3899000, 3999000, 
           4066000, 4070000]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'CL', 'sector': 'Consumer staples'}
df_cl = pd.DataFrame(data)

#PG
dates = ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
         '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
         '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016', 
         '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015', 
         '6/30/2015', '3/31/2015']
revenue = [17698000, 17214000, 18240000, 17798000, 17094000, 
           16462000, 17438000, 16690000, 16503000, 16281000, 
           17395000, 16653000, 16079000, 15605000, 16856000, 
           16518000, 16102000, 15755000, 16915000, 16527000, 
           17790000, 18142000]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'PG', 'sector': 'Consumer staples'}
df_pg = pd.DataFrame(data)

#WMT
dates = ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
         '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
         '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016', 
         '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015', 
         '6/30/2015', '3/31/2015']
revenue = [2180000, 2329000, 2314000, 2441000, 2443000, 
           2298000, 2379000, 2373000, 2313000, 2184000, 
           2263000, 2302000, 2290000, 2166000, 2147000, 
           2216000, 2130000, 1993000, 2027000, 2095000, 
           2163000, 1946000]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'WMT', 'sector': 'Consumer staples'}
df_wmt = pd.DataFrame(data)

df_consumer_s = pd.concat([df_ko, df_cl, df_pg, df_wmt])

11. Utilities: 
    NextEra Energy (NEE), 
    Duke Energy (DUK), 
    Exelon Corp. (EXC), 
    Dominion Energy (D)

In [87]:
dates = '5/31/2020, 2/29/2020, 11/30/2019, 8/31/2019, 5/31/2019, 2/28/2019, 11/30/2018, 8/31/2018, 5/31/2018, 2/28/2018, 11/30/2017, 8/31/2017, 5/31/2017, 2/28/2017, 11/30/2016, 8/31/2016, 5/31/2016, 2/29/2016, 11/30/2015, 8/31/2015, 5/31/2015, 2/28/2015'
l = []
for i in range(22):
    l.append(dates.partition(', ')[0] )
    dates = dates.partition(', ')[2]
print(l)
    
s = '3,585,000	4,496,000	4,475,000	4,269,000	3,970,000	3,858,000	3,361,000	3,451,000	3,088,000	3,466,000	3,210,000	3,179,000	2,813,000	3,384,000	3,086,000	3,132,000	2,598,000	2,921,000	2,556,000	2,971,000	2,747,000	3,409,000'
s = s.replace(',', '')
s = s.replace('\t', ', ')
print(s)

['5/31/2020', '2/29/2020', '11/30/2019', '8/31/2019', '5/31/2019', '2/28/2019', '11/30/2018', '8/31/2018', '5/31/2018', '2/28/2018', '11/30/2017', '8/31/2017', '5/31/2017', '2/28/2017', '11/30/2016', '8/31/2016', '5/31/2016', '2/29/2016', '11/30/2015', '8/31/2015', '5/31/2015', '2/28/2015']
3585000, 4496000, 4475000, 4269000, 3970000, 3858000, 3361000, 3451000, 3088000, 3466000, 3210000, 3179000, 2813000, 3384000, 3086000, 3132000, 2598000, 2921000, 2556000, 2971000, 2747000, 3409000

In [88]:
#NEE
dates = ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
         '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
         '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016', 
         '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015', 
         '6/30/2015', '3/31/2015']
revenue = [4204000, 4613000, 4588000, 5572000, 4970000, 
           4075000, 4376000, 4418000, 4069000, 3863000, 
           4010000, 4808000, 4404000, 3972000, 3698000, 
           4805000, 3817000, 3835000, 4069000, 4954000, 
           4358000, 4104000]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'NEE', 'sector': 'Utilities'}
df_nee = pd.DataFrame(data)

#DUK
dates = ['3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
         '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
         '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016', 
         '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015', 
         '6/30/2015', '3/31/2015']
revenue = [5949000, 6103000, 6940000, 5873000, 6163000, 
           6115000, 6628000, 5643000, 6135000, 5799000,
           6482000, 5555000, 5729000, 4816000, 6821000,
           5484000, 5622000, 5322000, 6483000, 5589000, 
           6065000]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'DUK', 'sector': 'Utilities'}
df_duk = pd.DataFrame(data)

#EXC
dates = ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
         '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
         '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016', 
         '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015', 
         '6/30/2015', '3/31/2015']
revenue = [7322000, 8747000, 8342000, 8929000, 7689000, 
           9477000, 8815000, 9403000, 8076000, 9693000,
           8382000, 8769000, 7623000, 8757000, 7874000, 
           9002000, 6910000, 7573000, 6701000, 7401000, 
           6514000, 8830000]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'EXC', 'sector': 'Utilities'}
df_exc = pd.DataFrame(data)

#D
dates = ['6/30/2020', '3/31/2020', '12/31/2019', '9/30/2019', '6/30/2019', 
         '3/31/2019', '12/31/2018', '9/30/2018', '6/30/2018', '3/31/2018', 
         '12/31/2017', '9/30/2017', '6/30/2017', '3/31/2017', '12/31/2016', 
         '9/30/2016', '6/30/2016', '3/31/2016', '12/31/2015', '9/30/2015', 
         '6/30/2015', '3/31/2015']
revenue = [3585000, 4496000, 4475000, 4269000, 3970000, 
           3858000, 3361000, 3451000, 3088000, 3466000, 
           3210000, 3179000, 2813000, 3384000, 3086000, 
           3132000, 2598000, 2921000, 2556000, 2971000, 
           2747000, 3409000]
data = {'date': dates, 'revenue': revenue, 
       'ticker': 'D', 'sector': 'Utilities'}
df_d = pd.DataFrame(data)

df_util = pd.concat([df_nee, df_duk, df_exc, df_d])

In [91]:
df = pd.concat([df_materials, df_industrials, df_financials, df_energy, df_consumer_d,
               df_it, df_comm, df_real, df_health, df_consumer_s, 
               df_util])

In [92]:
df

          date    revenue ticker     sector
0    6/30/2020  1924000.0    EMN  Materials
1    3/31/2020  2241000.0    EMN  Materials
2   12/31/2019  2205000.0    EMN  Materials
3    9/30/2019  2325000.0    EMN  Materials
4    6/30/2019  2363000.0    EMN  Materials
..         ...        ...    ...        ...
17   3/31/2016  2921000.0      D  Utilities
18  12/31/2015  2556000.0      D  Utilities
19   9/30/2015  2971000.0      D  Utilities
20   6/30/2015  2747000.0      D  Utilities
21   3/31/2015  3409000.0      D  Utilities

[895 rows x 4 columns]

In [93]:
df.to_csv('revenue_by_sectors', index = False)